@page
@model RegisterModel
@{
    @* ViewData["Title"] = "Register"; *@
}
<img src="~/imgs/background1.jpg" class="homeback" />
@* <h1>@ViewData["Title"]</h1> *@
<div class="wrapper2">
    <h1 class="h1-header">Register</h1>
    <form action="">
        <input type="text" placeholder="Create Username">
        <input type="password" placeholder="Create Password">
        <input type="submit" value="SAVE">
    </form>

    <div class="bottom-text">
        @* <input type="checkbox" name="Remember" checked="Checked">Login *@
        <a href="#">Already a Member? Click Here</a>
    </div>

    <div class="socials">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>

    <div id="overlay"></div>




</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
