html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;

}

.text-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

}

/* .Edit {
  color: black !important;
  font-family: 'Times New Roman', Times, serif;
} */

.homeback {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100vw;

  z-index: -1;

}

.menuback {

  height: 100vh;

}

h1 {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  padding-top: 120px;
}

.wrapper2 {
  width: 400px;
  height: 420px;
  color: #000;
  top: 65%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  background-color: rgba(159, 153, 151, 0.5);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px #000;
}

#registerSubmit {
  background-color: rgb(100, 87, 78) !important;
  border-color: rgb(100, 87, 78) !important;
}